<div class="ui divider"></div>
<div class="comment">
  <div class="content">
    <div class="author"><%= message.username %></div>
    <div class="metadata">
      <span class="date"><%= time_ago_in_words message.created_at %></span>
    </div>
    <div class="text">
      <%= message.body %>
    </div>
    <div class="actions">
      <%= link_to '#', class: 'ui mini blue label', data: { reflex: 'click->MessageReflex#like', id: message.id } do %>
        Like <%= tag.span message.like_count, id: "message-#{message.id}-likes" %>
      <% end %>
    </div>
  </div>
</div>
